.element_text{
    font-size:18px;
    column-count: 2;
}

.changed{

}

.myForm{

   text-align: left;
   font-size: 14px;

}

.myForm input[type=text]{

    width:100%;
    border-radius: 1px 1px;
    font-size: 14px;
}
.myForm select{

    width:100%;
    border-radius: 2px 2px;
    font-size: 14px;
}


.ttable {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background: rgb(20,227,117);
    background: linear-gradient(90deg, rgba(20,227,117,1) 0%, rgba(0,212,255,1) 100%);
    font-weight: bold;
    font-size: 12px;
}
.ttable th,
.ttable td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.ttable thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.ttable tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.ttable .ttable {
    background-color: #fff;
}

.ttable-sm th,
.ttable-sm td {
    padding: 0.3rem;
}

.ttable-bordered {
    border: 1px solid #dee2e6;
}

.ttable-bordered th,
.ttable-bordered td {
    border: 1px solid #dee2e6;
}

.ttable-bordered thead th,
.ttable-bordered thead td {
    border-bottom-width: 2px;
}

.ttable-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.ttable-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.ttable-primary,
.ttable-primary > th,
.ttable-primary > td {
    background-color: #b8daff;
}

.ttable-hover .ttable-primary:hover {
    background-color: #9fcdff;
}

.ttable-hover .ttable-primary:hover > td,
.ttable-hover .ttable-primary:hover > th {
    background-color: #9fcdff;
}

.ttable-secondary,
.ttable-secondary > th,
.ttable-secondary > td {
    background-color: #d6d8db;
}

.ttable-hover .ttable-secondary:hover {
    background-color: #c8cbcf;
}

.ttable-hover .ttable-secondary:hover > td,
.ttable-hover .ttable-secondary:hover > th {
    background-color: #c8cbcf;
}

.ttable-success,
.ttable-success > th,
.ttable-success > td {
    background-color: #c3e6cb;
}

.ttable-hover .ttable-success:hover {
    background-color: #b1dfbb;
}

.ttable-hover .ttable-success:hover > td,
.ttable-hover .ttable-success:hover > th {
    background-color: #b1dfbb;
}

.ttable-info,
.ttable-info > th,
.ttable-info > td {
    background-color: #bee5eb;
}

.ttable-hover .ttable-info:hover {
    background-color: #abdde5;
}

.ttable-hover .ttable-info:hover > td,
.ttable-hover .ttable-info:hover > th {
    background-color: #abdde5;
}

.ttable-warning,
.ttable-warning > th,
.ttable-warning > td {
    background-color: #ffeeba;
}

.ttable-hover .ttable-warning:hover {
    background-color: #ffe8a1;
}

.ttable-hover .ttable-warning:hover > td,
.ttable-hover .ttable-warning:hover > th {
    background-color: #ffe8a1;
}

.ttable-danger,
.ttable-danger > th,
.ttable-danger > td {
    background-color: #f5c6cb;
}

.ttable-hover .ttable-danger:hover {
    background-color: #f1b0b7;
}

.ttable-hover .ttable-danger:hover > td,
.ttable-hover .ttable-danger:hover > th {
    background-color: #f1b0b7;
}

.ttable-light,
.ttable-light > th,
.ttable-light > td {
    background-color: #fdfdfe;
}

.ttable-hover .ttable-light:hover {
    background-color: #ececf6;
}

.ttable-hover .ttable-light:hover > td,
.ttable-hover .ttable-light:hover > th {
    background-color: #ececf6;
}

.ttable-dark,
.ttable-dark > th,
.ttable-dark > td {
    background-color: #c6c8ca;
}

.ttable-hover .ttable-dark:hover {
    background-color: #b9bbbe;
}

.ttable-hover .ttable-dark:hover > td,
.ttable-hover .ttable-dark:hover > th {
    background-color: #b9bbbe;
}

.ttable-active,
.ttable-active > th,
.ttable-active > td {
    background-color: rgba(0, 0, 0, 0.075);
}

.ttable-hover .ttable-active:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.ttable-hover .ttable-active:hover > td,
.ttable-hover .ttable-active:hover > th {
    background-color: rgba(0, 0, 0, 0.075);
}

.ttable .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}
.selected_tr:hover{
    cursor: pointer;
    background-color: #ffe0db;
}

.ttable .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.ttable-dark {
    color: #fff;
    background-color: #212529;
}

.ttable-dark th,
.ttable-dark td,
.ttable-dark thead th {
    border-color: #32383e;
}

.ttable-dark.ttable-bordered {
    border: 0;
}

.ttable-dark.ttable-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

.ttable-dark.ttable-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.075);
}

#downloadBox{
    text-align:left;
    margin-bottom:10px;
}

.cardDownloadsBox{
    padding:5px;
    width:350px;
    border-radius:0 25px 25px 0;
    background-color:#dbdbdb;
    margin-top:3px;
    margin-bottom:3px;
}

#downloadBox  div{
    display: none;
}
#downloadBox:hover  div{
    display: block;
}

